In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\apache-spark\\spark-3.0.0-bin-hadoop2.7'

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('miss').getOrCreate()

In [4]:
df = spark.read.csv('./datasets/ContainsNull.csv',inferSchema=True,header=True)

In [5]:
df.show(2)

+----+----+-----+
|  Id|Name|Sales|
+----+----+-----+
|emp1|John| null|
|emp2|null| null|
+----+----+-----+
only showing top 2 rows

In [6]:
df.na.drop().show() #drops rows

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [7]:
df.na.drop(thresh=2).show() #should have atleast 2 null values to get dropped

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
df.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [11]:
df.na.drop(how='any').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [13]:
df.na.drop(subset=['Sales']).show() #drops rows which has missing values in Sales

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [14]:
df.na.drop(subset=['Sales','Name']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [16]:
df.na.fill("Roger").show() #passes the given value to column with appropriate type :same as the passed values

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|Roger| null|
|emp3|Roger|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [17]:
df.na.fill(100).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|100.0|
|emp2| null|100.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
df.na.fill("Roger",subset=['Name']).show() #always mention subset : Pythonic

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|Roger| null|
|emp3|Roger|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

To fill in missing values

In [31]:
from pyspark.sql.functions import mean

In [32]:
mean_val = df.select(mean(df['Sales'])).collect()

In [33]:
mean_sales = mean_val[0][0]

In [34]:
df.na.fill(mean_sales,subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

Can be written pythonically as

In [35]:
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+