In [1]:
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# About this file

calif_hsng_df = pd.read_csv("../datasets/housing.csv")

In [3]:
calif_hsng_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
calif_hsng_df.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
3643,-118.46,34.22,39.0,1500.0,333.0,998.0,309.0,3.9625,168200.0,<1H OCEAN
11009,-117.76,33.79,4.0,8974.0,1268.0,3754.0,1241.0,8.2653,374000.0,<1H OCEAN
14261,-117.12,32.70,36.0,1011.0,253.0,763.0,226.0,1.8187,84100.0,NEAR OCEAN
1107,-121.62,39.79,11.0,3835.0,727.0,1456.0,658.0,2.5374,97200.0,INLAND
10252,-117.87,33.89,22.0,2340.0,664.0,1382.0,546.0,3.3430,184600.0,<1H OCEAN

In [5]:
calif_hsng_df.shape

(20640, 10)

In [6]:
calif_hsng_df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [7]:
calif_hsng_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
calif_hsng_df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
calif_hsng_df.dropna(inplace=True)

In [10]:
calif_hsng_df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [11]:
calif_hsng_df = calif_hsng_df.drop(calif_hsng_df.loc[calif_hsng_df['median_house_value']== 500001].index)
# calif_hsng_df.loc[calif_hsng_df['median_house_value']== 500001] # check

In [12]:
calif_hsng_df = pd.get_dummies(calif_hsng_df,columns = ["ocean_proximity"])

In [13]:
calif_hsng_df.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
18318,-122.11,37.44,35.0,2016.0,349.0,1023.0,376.0,5.6413,376600.0,0,0,0,1,0
17317,-120.20,34.61,15.0,2958.0,690.0,1348.0,617.0,3.8582,215200.0,0,0,0,0,1
16377,-121.28,38.03,11.0,826.0,150.0,684.0,166.0,3.9265,107400.0,0,1,0,0,0
14771,-117.08,32.57,18.0,2203.0,544.0,1943.0,497.0,2.2500,103200.0,0,0,0,0,1
15252,-117.32,33.01,29.0,3584.0,712.0,1619.0,667.0,4.1250,394400.0,0,0,0,0,1

#### *Important

In [14]:
med_val = calif_hsng_df.median_house_value.median()
med_val

173800.0

Here we will take the median value to check if the median value of house in a particular neighbourhood is above or below the median value. if yes,assign true else false

In [15]:
calif_hsng_df['above_median'] = (calif_hsng_df['median_house_value']-med_val) > 0

In [16]:
calif_hsng_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,True
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,True
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0,True
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0,True
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0,True

In [17]:
X = calif_hsng_df.drop(['median_house_value','above_median'],axis = 1)

In [18]:
Y = calif_hsng_df['above_median']

In [19]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

In [20]:
x_train.shape,x_test.shape

((15580, 13), (3895, 13))

In [21]:
y_train.shape,y_test.shape

((15580,), (3895,))

Binary Classification

In [22]:
from sklearn.linear_model import LogisticRegression

logist_model = LogisticRegression(solver = 'liblinear').fit(x_train,y_train)

liblinear is a good choice for small datasets and binary classification

In [25]:
print("Training Score : ",logist_model.score(x_train,y_train))

Training Score :  0.8225930680359436

For classification problems the default score is determined by accuracy. i.e How many predictions are correct ?

There are other methods as well to evaluate performance a classification model. But for this we'll stick with Accuracy.

In [27]:
y_pred  = logist_model.predict(x_test)

In [30]:
y_PredVsActual = pd.DataFrame({'Predicted': y_pred,'Actual':y_test })
y_PredVsActual.head(10)

       Predicted  Actual
6195       False    True
13454      False   False
2664       False   False
4775       False   False
11796      False   False
9852        True    True
15139       True   False
5549        True    True
20515      False   False
18679       True    True

To get accuracy of your model on Test data

In [31]:
from sklearn.metrics import accuracy_score

print("Accuracy Score : ", accuracy_score(y_test,y_pred))

Accuracy Score :  0.8112965340179717

Eighty one percent of our model predictions were correct